/* base  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  font-size: 0;
}

a {
  color: #3f5d45;
  text-decoration: none;
}

a.block-img:hover, .logo > a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'PingFang TC', '微軟正黑體', sans-serif;
  color: #3f5d45;
  font-size: 20px;
}

/* layout */
.wrap {
  max-width: 940px;
  margin: auto;
  padding-bottom: 60px;
}

/* module  */
.btn {
  display: inline-block;
  padding: 16px 0;
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.btn-outline {
  border: 1px solid #eaf0ed;
}

.btn-fullLightColor {
  background-color: #eaf0ed;
  color: #3f5d45;
}

.btn-outline:hover,
.btn-outline.active {
  background-color: #eaf0ed;
}

.block-fullDarkColor,
.btn-fullDarkColor,
.page-link.active,
.btn-fullLightColor:hover,
.menu-link:hover {
  background-color: #3f5d45;
  color: #eaf0ed;
}

.block-img {
  display: block;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 220px;
  height: 40px;
}

.img-banner {
  height: 496px;
  background-image: url(../image/banner.png);
}

.ic-cart {
  width: 24px;
  height: 24px;
  background-image: url(../image/shopping_cart.png);
}

.ic-heart {
  width: 20px;
  height: 20px;
  background-image: url(../image/favorite_border.png);
}

.card-img-overlay-ic-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-link {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
}

.list-category-title {
  padding: 16px 0;
  text-align: center;
  font-size: 24px;
}

.dessert-tag {
  font-size: 16px;
  width: 36px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 20px;
}

.dessert-content {
  font-size: 20px;
}

.dessert-name {
  width: 173px;
  padding: 13px 0;
  border-left: 1px solid #eaf0ed;
  border-right: 1px solid #eaf0ed;
  font-weight: normal;
}

.dessert-price {
  width: 127px;
  padding: 14px 0;
  border-right: 1px solid #eaf0ed;
}

.page-item {
  width: 60px;
  height: 60px;
  font-size: 20px;
}

/* common */
.card-width {
  min-width: 300px;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.d-inline-block {
  display: inline-block !important;
}

.position-relative {
  position: relative !important;
}

/* margin */
.mb-xl {
  margin-bottom: 60px !important;
}

.mb-lg {
  margin-bottom: 50px !important;
}

.mb-md {
  margin-bottom: 30px !important;
}

.mb-sm {
  margin-bottom: 20px !important;
}

.mb-xs {
  margin-bottom: 10px !important;
}

.mr-xl {
  margin-right: 60px !important;
}

.mr-lg {
  margin-right: 50px !important;
}

.mr-md {
  margin-right: 30px !important;
}

.mr-sm {
  margin-right: 20px !important;
}

.mr-xs {
  margin-right: 10px !important;
}

.my-xl {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.my-lg {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.my-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.my-sm {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-xs {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
